<%- include('partials/header'); -%>

<section id="instagram">
  <div class="container middle">


  <div class="row">
    <div class="col-lg-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-3">
      <img src="images/instaprofilepic.PNG" alt="instagram-profile-pic" width="100%" height="100px">

    </div>


  </div>
  <h4>To follow us on Instagram please click the button below <a href="https://www.instagram.com/infomania.in/?hl=en"><button  class="btn btn-outline-danger follow"type="button" name="button">Instagram</button></a></h4>

  </div>

</section>

<section id="facebook">
  <div class="container middle">


  <div class="row">
    <div class="col-lg-3">
      <img src="images/facebookprofile.PNG" alt="facebook-profile-pic" width="100%" height="100px">

    </div>
    <div class="col-lg-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


  </div>
  <h4>For Regular updates like our page on facebook <a href="https://www.facebook.com/InfoMania-105605124562318"><button  class="btn btn-outline-info follow"type="button" name="button">Facebook</button></a></h4>



    </div>


</section>

<section id="tweeter">
  <div class="container middle">


  <div class="row">
    <div class="col-lg-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-3">
      <img src="images/facebookprofile.PNG" alt="tweeter-profile-pic" width="100%" height="100px">

    </div>


  </div>
  <h4>To follow us on Tweeter please click the button below <a href="#"><button  class="btn btn-outline-info follow"type="button" name="button">tweeter</button></a></h4>

  </div>

</section>
<%- include('partials/footer'); -%>
